.App {
    /* text-align: center; */
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #FFFFFF;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
/*   
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  /* .profile {
    margin-top: 50px
  } */
  
/*   
  .height {
    height: 80px;
  } */


  .quickSearchFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  .filter {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 25px;
  }

  .input-group {
    width: 200px;
    padding: 20px;
    /* border: red 1px solid; */
  }


  .carousel-control-next-icon {
    display: none;
  }
  
  .carousel-control-prev-icon {
    display: none;
  }
  
  .dropdown-toggle {
    width: 200px;
    height: 25px;
    align-items: center;
    align-content: center;
  }

  .dropDown-title {
    align-items: center;
    align-content: center;
    height: 25px;
  }